

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# Left Side: Sidebar component #}
            <div class="col-12">
                {% include "components/sidebar.html" %}
            </div>

            {# Right Side: Dynamic Page Data #}
            <div class="col-12">
                {% block dashboard_content %}
                    {# Data will be injected here #}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

