<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Appointment App{% endblock %}</title>

    {#    Bootstrap#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {% block styles %}{% endblock %}
</head>

<body>
{% block header %}
<header>
    <nav class="navbar navbar-expand-sm ">
        <div class="container">
            <a class="navbar-brand text-white" href="#">CareSchedule</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
                    <li class="nav-item">
                        <a href="{{ url_for('main.home') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.__class__.__name__ == 'Professional' %}
                            <li class="nav-item">
                                <a href="{{ url_for('professional.dashboard') }}">Professional Dashboard</a>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a href="{{ url_for('patients.dashboard') }}">Patient</a>
                            </li>

                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ url_for('patients.logout') }}">Logout</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('main.get_started', action='login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" href="{{ url_for('main.get_started') }}">Get Started</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block banner %}{% endblock %}

<!-- Flash Messages Block -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


<main>
    {% block content %}
    {% endblock %}
</main>


<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>