<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareSchedule Booking App</title>
</head>

<body>


    <!-- login link  -->
    <nav>
        <a href="/">Home</a>
        <a href="{{ url_for('patients.login')}}">Patient Login</a>
        <a href="/login">Doctor Login</a>
    </nav>

    <main>
        {% block content %}
        <h1>Welcome to Care Schedule Booking App</h1>
        {% endblock %}
    </main>
</body>

</html>