{% extends "base.html" %}
{% block content %}

    <h3>Professional Registration</h3>



    <form action="{{ url_for('professional.register') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{ username or '' }}" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ email or '' }}" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" value="{{ firstname or '' }}">

        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" value="{{ lastname or '' }}">

        <label for="specialty">Specialty</label>
        <select name="specialty" id="specialty" required>
            <option value="" disabled {{ 'selected' if not specialty }}>--Select a specialty--</option>
            {% for specialty in specialties %}
                <option value="{{ specialty }}" {{ 'selected' if specialty == selected_specialty }}>
                    {{ specialty }}
                </option>
            {% endfor %}
        </select>

        <label for="biography">Biography</label>
        <textarea id="biography" name="biography">{{ biography or '' }}</textarea>

        <button type="submit">Register</button>
    </form>

{% endblock %}